@import 'ember-paper';


/** Johanna **/
body {
background-color: #abdad8;
}
/**Nav**/

.menuNav {
display: flex;
text-align: center;
}

.flexmoiça {
  display: flex;
  text-align: center;
  align-content: center;
}

.navImg1, .navImg2,
.navImg3, .navImg4,
.navImg1:active, .navImg2:active,
.navImg3:active , .navImg4:active
 {
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
}

.navImg1 {
background-image: url("/img/1.png");
}
.navImg2 {
background-image: url("/img/2.png");
}
.navImg3 {
background-image: url("/img/3.png");
}
.navImg4 {
background-image: url("/img/4.png");
}

.navImg1:active {
background-image: url("/img/11.png");
}
.navImg2:active {
background-image: url("/img/22.png");
}
.navImg3:active {
background-image: url("/img/33.png");
}
.navImg4:active {
background-image: url("/img/44.png");
}
/**Personnage**/


/** Fin Johanna **/
