@import 'ember-paper';


/** Johanna **/
body {
background-color: #abdad8;
}
/**Nav**/

.menuNav {
display: flex;
text-align: center;
}

.flexmoiça {
  display: flex;
  text-align: center;
  align-content: center;
}

.navImg1 {
background-image: url("/img/1.png");
background-size: contain;
height: 200px;
width: 200px;
}
.navImg2 {
background-image: url("/img/2.png");
background-size: contain;
height: 200px;
width: 200px;
}
.navImg3 {
background-image: url("/img/3.png");
background-size: contain;
height: 200px;
width: 200px;
}
.navImg4 {
background-image: url("/img/4.png");
background-size: contain;
height: 200px;
width: 200px;
}

.navImg1:active {
background: url("/img/11.png");
background-size: contain;
height: 200px;
width: 200px;
}
.navImg2:active {
background: url("/img/22.png");
background-size: contain;
height: 200px;
width: 200px;
}
.navImg3:active {
background: url("/img/33.png");
background-size: contain;
height: 200px;
width: 200px;
}
.navImg4:active {
background: url("/img/44.png");
background-size: contain;
height: 200px;
width: 200px;
}
/**Personnage**/


/** Fin Johanna **/
