{{#paper-list}}
  <div class="list">
    <p class="titreList">{{#paper-subheader}}Document{{/paper-subheader}}</p>
    {{#each model as |item|}}
      <div class="listCadre">
        {{#paper-item class="md-3-line" onClick=(action "transitionToDocument" item)}}
          <img src={{item.imgurl}} alt={{item.title}} class="md-avatar">
          <div class="linkText">
            {{#link-to "document.show" item class=item.id}}
              <div class="md-list-item-text">
                <h3>{{item.title}}</h3>
                <p>{{item.found}}</p>
              </div>
            {{/link-to}}
          </div>
        {{/paper-item}}
      </div>
    {{/each}}
  </div>
{{/paper-list}}
