<nav class="textureNav">
  <div class="layout-row layout-align-center-start">
    <div>{{#link-to "document"}} <div class="navImg1"></div> {{/link-to}}</div>
    <div>{{#link-to "lieu"}} <div class="navImg2"></div> {{/link-to}}</div>
    <div>{{#link-to "joueur"}} <div class="navImg3"></div> {{/link-to}}</div>
    <div>{{#link-to "personnage"}} <div class="navImg4"></div> {{/link-to}}</div>
    <div class="layout-align-center-center">{{#link-to "help"}}{{#paper-button raised=true mini=true}}?{{/paper-button}}{{/link-to}}</div>
  </div>
</nav>
{{outlet}}
