<!--
<nav>
  <ul>
    <li>{{#link-to "personnage"}}Personnage{{/link-to}}</li>
    <li>{{#link-to "lieu"}}Lieu{{/link-to}}</li>
  </ul>
</nav>
-->

<!--johanna

{{#paper-content class="menuNav" open=rightSideBarOpen lockedOpen=true}}
  <aside class="flexmoiça  md-toolbar-tools">
    <li>{{#link-to "personnage"}} {{#paper-button }}{{paper-icon 'home'}}Personnage{{/paper-button}}{{/link-to}}</li>
    <li>{{#link-to "lieu"}} {{#paper-button }}{{paper-icon 'home'}}Lieu{{/paper-button}}{{/link-to}}</li>
  </aside>
{{/paper-content}}

-->

<div class="menuNav">
  <nav class="flexmoiça">

    <div>{{#link-to "personnage"}} <div class="navImg1"></div> {{/link-to}}</div>
    <div>{{#link-to "lieu"}} <div class="navImg2"></div> {{/link-to}}</div>
    <div>{{#link-to "lieu"}} <div class="navImg3"></div> {{/link-to}}</div>
    <div>{{#link-to "lieu"}} <div class="navImg4"></div> {{/link-to}}</div>

  </nav>
</div>

<!--Fin johanna -->

{{outlet}}
