<!--
<nav>
  <ul>
    <li>{{#link-to "personnage"}}Personnage{{/link-to}}</li>
    <li>{{#link-to "lieu"}}Lieu{{/link-to}}</li>
  </ul>
</nav>
-->

<!--johanna -->

{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button }}{{#link-to "personnage"}}Personnage{{/link-to}}{{/paper-button}}
    {{#paper-button }}{{#link-to "lieu"}}Lieu{{/link-to}}{{/paper-button}}
  </div>
{{/paper-toolbar}}



<!--Fin johanna -->
{{outlet}}
