<!--
<nav>
  <ul>
    <li>{{#link-to "personnage"}}Personnage{{/link-to}}</li>
    <li>{{#link-to "lieu"}}Lieu{{/link-to}}</li>
  </ul>
</nav>
-->

<!--johanna-->

<nav class="flexmoiça">
    <div>{{#link-to "personnage"}} <div class="navImg1"></div> {{/link-to}}</div>
    <div>{{#link-to "lieu"}} <div class="navImg2"></div> {{/link-to}}</div>
    <div>{{#link-to "lieu"}} <div class="navImg3"></div> {{/link-to}}</div>
    <div>{{#link-to "lieu"}} <div class="navImg4"></div> {{/link-to}}</div>
</nav>


<!--Fin johanna -->

{{outlet}}
